#wrapper #header  { 
      width:auto; 
margin:0; 
      padding:0; 
} 
 
* {                        
color:#000; 
} 
 
h1, h2, p {                       
font-size:35pt !important; 
}
  

h1 { 
display: none; 
}
#pagetwo {
      page-break-before:always;
}
 


a:after {
	content:"("attr(href)")";
	color:#ccc;
	font-size:13pt;
}


